.container {
	display: grid;
	grid-template-columns: auto 1fr;
}

.taks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.btn-sm {
	width: 36px;
	height: 36px;
	box-shadow: -2px -2px 6px rgba(91, 91, 91, 0.25),
				2px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}

.btn-danger {
	color: #e23221;
}

input[type="text"], textarea, button, select {
	outline: none;
	font-size: 1.5rem;
	background-color: transparent;
	padding: .5rem;
	color: var(--font-color);
	margin: 1rem;
	border: none;
	box-shadow: inset -4px -4px 8px rgba(82, 82, 82, 0.25),
				inset 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

@media (max-width: 1200px) {
	.taks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 900px) {
	.taks {
	display: grid;
	grid-template-columns: 1fr;
	}
}

@media (max-width: 700px) {
	.container {
		grid-template-columns: 1fr;
	}
}